<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<!-- <img src="images/cinema.jpg" style="width:100%"> -->

<section class="home">
    <div class=indexText>
        <h1 class="header">Cinema <br/> Ironhack</h1>
        <button><a href="/movies" class="btn">Check the movies</a></button>
    </div>
</section>